<turbo-frame id="chart-container">
    <div id="chart"></div>
    <script>
    title = '<%= @category.name %>'
    subtitle = '<%= @year %>'
    type = 'column'
    dates = <%=raw dates(@reports).to_json %>
    values = <%=raw category_values(@reports).to_json %>
    </script>
<turbo-frame>
