<turbo-frame id="chart-container">
    <div id="chart"></div>
    <script>
    title = '<%= @year%>'
    subtitle = null
    type = 'spline'
    dates = <%=raw dates(@reports).to_json %>
    values = <%=raw values(@reports).to_json %>
    </script>
<turbo-frame>
